/* header**************************** */
header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 10px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  /* background-color: blue; */
  /* nav****************************** */
}
@media screen and (max-width: 768px) {
  header {
    padding: 5px 10px;
  }
}
header .logo {
  max-width: 111px;
  height: 20px;
  /* background-color: blueviolet; */
}
header .logo img {
  width: 100%;
}
header .hamWrap {
  position: relative;
  z-index: 100;
}
header .hamWrap .ham {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  header .hamWrap .ham {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}
header .hamWrap .ham a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-color: skyblue; */
}
header .hamWrap .ham a .hamBtn span {
  display: block;
  width: 32px;
  height: 3px;
  margin: 8px 0;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 2px 2px black;
          box-shadow: 2px 2px 2px black;
}
header .hamWrap .ham a.active .hamBtn span:first-child {
  -webkit-transform: rotate(45deg) translateY(9px) translateX(9px);
          transform: rotate(45deg) translateY(9px) translateX(9px);
}
header .hamWrap .ham a.active .hamBtn span:nth-child(2) {
  opacity: 0;
}
header .hamWrap .ham a.active .hamBtn span:last-child {
  -webkit-transform: rotate(-45deg) translateY(-6px) translateX(7px);
          transform: rotate(-45deg) translateY(-6px) translateX(7px);
}
header .hamWrap .ham .hamText {
  padding-left: 5px;
}
header .hamWrap .ham .hamText span {
  color: white;
  font-size: 16px;
  text-shadow: 2px 2px 2px black;
}
header nav {
  position: absolute;
}
header nav.active #nav {
  right: 0;
}
header nav #nav {
  position: fixed;
  top: 0;
  right: -100%;
  max-width: 400px;
  width: 100%;
  height: 100vh;
  padding-bottom: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #1413c0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 90;
}
@media screen and (max-width: 768px) {
  header nav #nav {
    max-width: initial;
    width: 100%;
    height: 100vh;
    padding-bottom: 300px;
  }
}
header nav #nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
header nav #nav ul li {
  padding: 5px 0;
}
header nav #nav ul li a {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  header nav #nav ul li a {
    font-size: 14px;
  }
}
header nav #nav ul li.active a {
  color: #fff;
}
header nav .eventImg {
  position: absolute;
  max-width: 230px;
  width: 100%;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 91;
}
@media screen and (max-width: 768px) {
  header nav .eventImg {
    max-width: 180px;
  }
}
header nav .eventImg img {
  width: 100%;
}

.bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 0%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 50;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.bg.active {
  width: 100%;
}

/* #mainBanner*********************** */
#mainBanner {
  position: relative;
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  #mainBanner {
    margin-bottom: 50px;
  }
}
#mainBanner .swiper {
  width: 100%;
  height: 100%;
}
#mainBanner .mySwiper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#mainBanner .mySwiper .textBox {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
#mainBanner .mySwiper .textBox p {
  color: white;
  font-size: 2.6041666667vw;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  #mainBanner .swiper-button-next,
#mainBanner .swiper-button-prev {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

/* #container****************************** */
#container {
  /* .section1,2 */
  /* .originalsWrap */
  /* .scrollBanner */
}
#container .section1,
#container .section2 {
  position: relative;
  max-width: 1280px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  margin-bottom: 100px;
}
#container .section1 > a,
#container .section2 > a {
  display: block;
  position: absolute;
  top: 0;
  right: 5%;
  line-height: 50px;
  font-size: 16px;
  text-shadow: 2px 2px 2px black;
}
@media screen and (max-width: 640px) {
  #container .section1 > a,
#container .section2 > a {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  #container .section1 > a,
#container .section2 > a {
    font-size: 11px;
  }
}
#container .section1 .sectionTab,
#container .section2 .sectionTab {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  left: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  #container .section1 .sectionTab,
#container .section2 .sectionTab {
    left: 0;
  }
}
#container .section1 .sectionTab li,
#container .section2 .sectionTab li {
  margin-right: 50px;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media screen and (max-width: 640px) {
  #container .section1 .sectionTab li,
#container .section2 .sectionTab li {
    margin-right: 20px;
  }
}
@media screen and (max-width: 480px) {
  #container .section1 .sectionTab li,
#container .section2 .sectionTab li {
    margin-right: 10px;
  }
}
#container .section1 .sectionTab li a,
#container .section2 .sectionTab li a {
  display: block;
  font-size: 16px;
  text-shadow: 2px 2px 2px black;
}
@media screen and (max-width: 640px) {
  #container .section1 .sectionTab li a,
#container .section2 .sectionTab li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  #container .section1 .sectionTab li a,
#container .section2 .sectionTab li a {
    font-size: 11px;
  }
}
#container .section1 .sectionTab li.active,
#container .section2 .sectionTab li.active {
  opacity: 1;
}
#container .section1 .groupSlideWrap,
#container .section2 .groupSlideWrap {
  overflow: hidden;
}
#container .section1 .groupSlideWrap .groupSlide,
#container .section2 .groupSlideWrap .groupSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#container .section1 .groupSlideWrap .groupSlide div,
#container .section2 .groupSlideWrap .groupSlide div {
  width: 5%;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .section1 .groupSlideWrap .groupSlide div img,
#container .section2 .groupSlideWrap .groupSlide div img {
  width: 100%;
}
#container .section1 .btnWrap div,
#container .section2 .btnWrap div {
  position: absolute;
  max-width: 32px;
  padding: 0 5px;
  top: 50%;
}
#container .section1 .btnWrap div img,
#container .section2 .btnWrap div img {
  width: 100%;
}
#container .section1 .btnWrap div.nextBtn,
#container .section2 .btnWrap div.nextBtn {
  right: 0;
}
#container .section1 .btnWrap div.prevBtn,
#container .section2 .btnWrap div.prevBtn {
  left: 0;
}
#container .originalsWrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  visibility: hidden;
  overflow: hidden;
  margin-bottom: 150px;
}
#container .originalsWrap > h2 {
  position: absolute;
  visibility: visible;
  top: 0;
  left: 5%;
  font-family: "Noto Serif", serif;
  font-size: 32px;
  color: #fff;
  z-index: 10;
}
#container .originalsWrap .navigation {
  position: absolute;
  display: block;
  width: 640px;
  height: 640px;
  padding: 0;
  margin: 0;
  left: -270px;
  top: 50%;
  margin-top: -320px;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  #container .originalsWrap .navigation {
    width: 480px;
    height: 480px;
    left: -200px;
    margin-top: -240px;
  }
}
@media screen and (max-width: 640px) {
  #container .originalsWrap .navigation {
    left: -280px;
  }
}
#container .originalsWrap .navigation .navigation-item {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 120px;
  height: 120px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: border 0.6s ease-in-out;
  transition: border 0.6s ease-in-out;
}
@media screen and (max-width: 1024px) {
  #container .originalsWrap .navigation .navigation-item {
    width: 80px;
    height: 80px;
  }
}
#container .originalsWrap .navigation .navigation-item .rotate-holder {
  position: fixed;
  display: block;
  width: 0;
  height: 0;
  left: -9999px;
  top: -9999px;
}
#container .originalsWrap .navigation .navigation-item .background-holder {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
}
#container .originalsWrap .navigation .navigation-item:hover .background-holder {
  opacity: 0.75;
}
#container .originalsWrap .navigation .navigation-item.active .background-holder {
  opacity: 0;
  visibility: hidden;
}
#container .originalsWrap .detail {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 8;
}
#container .originalsWrap .detail .detail-item {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
#container .originalsWrap .detail .detail-item .poster {
  position: absolute;
  max-width: 400px;
  /* height: 810px; */
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}
#container .originalsWrap .detail .detail-item .poster img {
  width: 100%;
}
@media screen and (max-width: 1280px) {
  #container .originalsWrap .detail .detail-item .poster {
    max-width: 31.25vw;
  }
}
@media screen and (max-width: 640px) {
  #container .originalsWrap .detail .detail-item .poster {
    max-width: 37vw;
  }
}
#container .originalsWrap .detail .detail-item p {
  position: absolute;
  left: 50%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 24px;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  color: #fff;
  opacity: 0.8;
  text-shadow: 2px 2px 2px black;
  word-break: keep-all;
  line-height: 50px;
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  #container .originalsWrap .detail .detail-item p {
    display: none;
  }
}
#container .originalsWrap .detail .detail-item .headline {
  position: absolute;
  display: block;
  width: 100%;
  max-width: calc(100% - 480px);
  height: 126px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: visible;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
}
@media screen and (max-width: 1280px) {
  #container .originalsWrap .detail .detail-item .headline {
    height: 32px;
    left: 40%;
    z-index: 11;
  }
}
@media screen and (max-width: 640px) {
  #container .originalsWrap .detail .detail-item .headline {
    left: 25%;
  }
}
#container .originalsWrap .detail .detail-item .headline .letter {
  font-family: "Oswald", sans-serif;
  position: relative;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  color: #FFFFFF;
  font-size: 60px;
  line-height: 110px;
  font-weight: 900;
  -webkit-font-kerning: none;
          font-kerning: none;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}
@media screen and (max-width: 1280px) {
  #container .originalsWrap .detail .detail-item .headline .letter {
    font-size: 32px;
    line-height: 32px;
  }
}
@media screen and (max-width: 480px) {
  #container .originalsWrap .detail .detail-item .headline .letter {
    font-size: 6.6666666667vw;
  }
}
#container .originalsWrap .detail .detail-item .background {
  position: absolute;
  display: block;
  width: 100%;
  width: calc(100% + 100px);
  height: 100%;
  height: calc(100% + 100px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}
#container .originalsWrap .detail .detail-item .background::before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(black), color-stop(90%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, black 0%, rgba(0, 0, 0, 0) 90%);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
#container .originalsWrap .detail .detail-item.active {
  opacity: 1;
  visibility: visible;
}
#container .scrollBanner .lineWrap {
  padding: 10px 0;
  background: black;
}
#container .scrollBanner .lineWrap .line1 li,
#container .scrollBanner .lineWrap .line3 li {
  max-width: 188px;
  padding: 0 5px;
}
#container .scrollBanner .lineWrap .line2 li {
  max-width: 300px;
  padding: 0 5px;
}
#container .scrollBanner .lineWrap ul img {
  width: 100%;
}
#container .scrollBanner .parallaxBanner {
  position: relative;
  min-height: 438px;
  background: transparent;
}
#container .scrollBanner .parallaxBanner span {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 32px;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}
@media screen and (max-width: 480px) {
  #container .scrollBanner .parallaxBanner span {
    font-size: 6.6666666667vw;
  }
}

/* footer */
footer {
  margin-top: 50px;
  padding: 50px 0;
  border-top: 1px solid #fff;
}
footer .innerBox {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
footer .innerBox .ftTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .innerBox .ftTop li {
  padding: 5px 20px 5px 0;
}
@media screen and (max-width: 640px) {
  footer .innerBox .ftTop li {
    padding: 5px 10px 5px 0;
  }
}
@media screen and (max-width: 480px) {
  footer .innerBox .ftTop li:nth-child(1), footer .innerBox .ftTop li:nth-child(3), footer .innerBox .ftTop li:nth-child(4) {
    display: none;
  }
}
footer .innerBox .ftTop li a {
  display: block;
  font-size: 16px;
}
@media screen and (max-width: 640px) {
  footer .innerBox .ftTop li a {
    font-size: 12px;
  }
}
footer .innerBox .ftBottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 1024px) {
  footer .innerBox .ftBottom ul {
    display: block;
  }
}
footer .innerBox .ftBottom ul li {
  position: relative;
  padding-right: 10px;
  margin-right: 10px;
}
footer .innerBox .ftBottom ul li::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 14px;
  width: 1px;
  background: #fff;
  opacity: 0.8;
}
footer .innerBox .ftBottom ul li:last-child::after {
  display: none;
}
@media screen and (max-width: 1024px) {
  footer .innerBox .ftBottom ul li {
    font-size: 12px;
    word-break: keep-all;
  }
  footer .innerBox .ftBottom ul li::after {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  footer .innerBox .ftBottom .ulBlind {
    display: none;
  }
}
footer .innerBox .ftBottom a {
  color: #999;
}
footer .innerBox .ftBottom p {
  padding: 15px 0;
}